*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --cor-branca: white;
    --cor-cinza-titulos_principais: #0000009c;
}

 /*estilização do Header e do NavBar da página */

header{
    background-color: #00cad1;
    padding: 0 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}


.links-navegacao{
    display: flex;
    flex-wrap: wrap;
}

.links-navegacao a{
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 20px;

    padding-left: 15px;
}

main{
    color: #000000ab;
}


section{
    border: 2px solid red;
}


footer{
    background-color: rgb(12, 110, 113);
    color: white;
    line-height: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.9rem 0;
}

footer > ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}