*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --cor-branca: white;
}

        /* Inicío da estilização do Header e do NavBar da página */

header{
    background-color: #00cad1;
    padding: 0 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.navBar{
    display: flex;
}

.links-navegacao{
    display: flex;
    flex-wrap: wrap;
}

.links-navegacao a{
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 20px;

    padding-left: 15px;
}

        /* Final da  estilização do Header e do NavBar da página */


        /* Inicio da estilização da sessão principal */

.sessaoPrincipal{
    background-image: url(/assets/recepcao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;

    display: flex;
}

.textoPrincipal{
    font-size: 36px;
    color: white;

    margin: auto 0;
    display: flex;
    
}

        /* Final  da estilização da sessão principal */

        /* Inicio da estilização da sessão sobre a clinica */
.sessaoSobre-clinica{
    text-align: center;
    margin: 40px 0;
    /* display: flex;
    justify-content: center; */
}
        
.divSobre-clinica{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.divInformacoes-clinica{
    display: flex;
}

.divSobre-clinica > img{
    display: flex;
    height: 40vh;
}

.divSobre-clinica > p{
    
}

.listaSobre-clinica{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
        /* Final  da estilização da sessão sobre a clinica */