@media screen and (max-width: 425px){
    
    /* estilização responsiva para celular da header */

    header{
        padding: 0 0;
    }

    hr{
        width: 90%;
        margin: 0 auto;
        background-color: #00cad1;
    }

    .logo{
        margin: 0 auto;
    }

    .navBar{
        width: 100%;
        margin: 0.7rem 0;
    }

    .links-navegacao{
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .links-navegacao a{
        padding: 0;
    }

    /* estilização responsiva para celular da sessão principal */

    .sessaoPrincipal{
        width: 100%;
        height: 13rem;

        position: relative;
    }

    .textoPrincipal{
        position: absolute;

        top: 5rem;
        left: 1rem;
    }

    .textoPrincipal > h1{
        font-size: 27px;
    }

    /* estilização responsiva para celular da sessão sobre a clinica */

    .sessaoSobre-clinica{
        padding-top: 1.5rem;
    }

    .sessaoSobre-clinica > p{
        font-size: 0.9rem;
        margin: 0 0.8rem;
    }

    .container > img{
        display: none;
    }

    .paragrafo-sobre{
        font-size: 1.1rem;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 1rem;
    }

    .informacoes-clinica{
        margin: 0;
    }

    .informacoes-clinica > ul > li{
        font-size: 0.9rem;
        margin: 0 2.8rem;
    }

    /* estilização responsiva para celular da sessão de especialidades médicas */

    .especialidades-medicas > h3{
        font-size: 1rem;
        margin-top: 1.2rem;
    }

    .especialidades-medicas > p{
        font-size: 0.9rem;
        margin: 0 0.8rem;
        text-align: center;
    }

    .especialidades{
        margin-top: 0;
    }

    .especialidades div{
        width: 100%;
        margin-top: 2.5rem;
    }

    .especialidades div > p{
        padding: 1rem;
    }

    .especialidades div > img{
        width: 100%;
    }

    .especialidades-medicas a{
        padding: 0.6rem;
        width: 40vw;
    }

    /* estilização responsiva para celular da sessão contato */

    .sessao-contato > ul > li {
        padding: 0 1rem;
        text-align: center;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    .sessao-contato iframe{
        height: 45vh;
    }

    /* estilização responsiva para celular do radapé da página */
    footer img{
        width: 40vw;
    }

    footer ul > li{
        padding: 0 0.6rem 1rem 0.6rem;
        text-align: center;
        line-height: 1.2rem;
    }
}