*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --cor-branca: white;
}

        /*estilização do Header e do NavBar da página */

header{
    background-color: #00cad1;
    padding: 0 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.navBar{
    display: flex;
}

.links-navegacao{
    display: flex;
    flex-wrap: wrap;
}

.links-navegacao a{
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 20px;

    padding-left: 15px;
}

main{
    color: #000000ab;
}

        /*estilização da sessão principal */

.sessaoPrincipal{
    background-image: url(/assets/recepcao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;

    display: flex;
}

.textoPrincipal{
    font-size: 36px;
    color: white;

    margin: auto 0;
    display: flex;
    
}

/* estilização da sessao sobre a clinica */

.sessaoSobre-clinica{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2,h3{
    color: #0000009c;
}

.sessaoSobre-clinica > h2{
    margin: 3rem 0 1rem 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.9rem 0 1.9rem 0;
}

.paragrafo-sobre{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
   
.informacoes-clinica{
    margin-left: 2rem;
}

.informacoes-clinica ul > li{
    text-align: start;
}