*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --cor-branca: white;
    --cor-cinza-titulos_principais: #0000009c;
}

 /*estilização do Header e do NavBar da página */

header{
    background-color: #00cad1;
    padding: 0 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}


.links-navegacao{
    display: flex;
    flex-wrap: wrap;
}

.links-navegacao a{
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 20px;

    padding-left: 15px;
}

main{
    color: #000000ab;
}

.lista-especialidades > ul{
    width: 40%;
    display: flex;
    justify-content: space-evenly;

    margin: 1rem auto;
}

.lista-especialidades ul > li{
    font-weight: bold;
    border-bottom: 0.1rem solid #00cad1;
}

.sessao-especialidades{
    margin: 2rem 0;
}

.sessao-especialidades > h1{
    text-align: center;
}

.sessao-ortopedia{
    width: 90%;

    margin: 0 auto;
    padding: 2rem 0;
}

.sessao-ortopedia > h3, p{
    text-align: center;
}

.sessao-ortopedia h3{
    padding: 0.8rem 0;
}

.sessao-ortopedia p{
    width: 40%;
    margin: auto;
}

.horarios-atendimentos{
    display: flex;

    margin: 1rem
}

.horarios-atendimentos img{
    width: 25vw;
}

.horarios-atendimentos > table{
    /* border: 1px solid blue; */
    width: 100%;
    border-collapse: collapse; /*usado para retirar as linhas parentes na tabela*/
}

.horarios-atendimentos table > thead{
    background-color: #00cad1;
}

.horarios-atendimentos table > thead th{
    color: white;
    text-align: start;

    padding: 1rem;
}

.horarios-atendimentos table > tbody tr:nth-of-type(odd){
    background-color: rgb(205, 205, 205);
}

.horarios-atendimentos table > tbody td{
    padding: 0 1rem;
}

.horarios-atendimentos table > tr,th, td{
    /* border: 1px solid yellow; */
}

.sessao-pediatria{
    width: 90%;

    padding: 2rem 0;
    margin: 0 auto;
}

.sessao-pediatria  h3{
    text-align: center;

    padding: 0.8rem 0;
}

.sessao-pediatria p{
    width: 60%;

    margin: 0 auto;
}

.sessao-geriatria{
    width: 90%;

    padding: 2rem 0;
    margin: 0 auto;
}

.sessao-geriatria h3{
    text-align: center;

    padding: 0.8rem 0;
}

.sessao-geriatria p{
    width: 60%;

    margin: 0 auto;
}

.sessao-psicologia{
    width: 90%;

    padding: 2rem 0;
    margin: 0 auto;
}

.sessao-psicologia h3{
    text-align: center;

    padding: 0.8rem 0;
}

.sessao-psicologia p{
    width: 40%;

    margin: 0 auto;
}

.sessao-fisioterapia{
    width: 90%;

    padding: 2rem 0;
    margin: 0 auto;
}

.sessao-fisioterapia h3{
    text-align: center;

    padding: 0.8rem 0;
}

.sessao-fisioterapia p{
    width: 60%;

    margin: 0 auto;
}


section{
    /* border: 2px solid red; */
}


footer{
    background-color: rgb(12, 110, 113);
    color: white;
    line-height: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.9rem 0;
}

footer > ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}