*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --cor-branca: white;
    --cor-cinza-titulos_principais: #0000009c;
}

        /*estilização do Header e do NavBar da página */

header{
    background-color: #00cad1;
    padding: 0 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.navBar{
    display: flex;
}

.links-navegacao{
    display: flex;
    flex-wrap: wrap;
}

.links-navegacao a{
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 20px;

    padding-left: 15px;
}

main{
    color: #000000ab;
}

        /*estilização da sessão principal */

.sessaoPrincipal{
    background-image: url(/assets/recepcao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;

    display: flex;
}

.textoPrincipal{
    font-size: 36px;
    color: white;

    margin: auto 0;
    display: flex;
    
}

/* estilização da sessao sobre a clinica */

.sessaoSobre-clinica{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2,h3{
    color: #0000009c;
    margin: 2rem 0 1rem 0;
}

p{
    font-size: 1.1rem; 
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.9rem 0 1.9rem 0;
}

.paragrafo-sobre{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: -5rem;
}
   
.informacoes-clinica{
    margin-left: 2rem;
}

.informacoes-clinica ul > li{
    text-align: start;
}

/* estilização da especializades */

.especialidades-medicas{
    display: flex;
    flex-direction: column;
    text-align: center; 
    flex-wrap: wrap;
    /* align-items: ; */
}

.especialidades-medicas h3{
    font-size: 1.2rem;
}

.especialidades{
    display: flex;
    justify-content: space-around;

    margin: 2rem;
}

.especialidades > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    box-shadow: 0px -1px 9px 0px rgba(66, 66, 66, 0.612);

}

.especialidades div > p{
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1rem;
}

.especialidades div > img{
    width: 25vw;
}

.especialidades-medicas > a{
    color: var(--cor-branca);
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;

    border: 1px solid #00cad1;
    background-color: #00cad1;

    margin: 0 auto;
    padding: 1rem;
}

/* estilização contato */

.sessao-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.sessao-contato > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessao-contato > ul > li {
    margin-bottom: 1rem;
}

.sessao-contato > ul > li span{
     color: var(--cor-cinza-titulos_principais);
     font-weight: bold;
}

.sessao-contato iframe{
    width: 80%;
}